/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 公版用他新增你要定義的內容，自訂義內容新增在下面*/
/* 劃出結構外框線 確認版面切分
*{
	outline: 1px solid pink;
	
} */

.warp{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 1138px;
	margin: 0 auto;
	display: flex;
	border-top: 1px solid black;
	border-left: 8px solid black;
	border-bottom: 2px solid black;
}
.card{
	height: 806px;
	background: #e7eeea;
	border-radius: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 10px;
	margin-right: 10px;
}
.about{
	width: 475px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 40px;
	padding-right: 40px;
}

.card img{
	display: block;
	margin-top: 220px;
	margin-bottom: 265px;
	margin-left: 144px;
	margin-right: 144px;
}
h3{
	font-weight: bolder;
	font-size: 28px;
	line-height: 38px;
	color: #37523d;
}
p{
	font-size: 22px;
	line-height: 32px;
	color: #2d2d2d;
	padding-top: 25px;
	/* 行高都設為文字+10
		這邊的文字為22px
		上下各留白5px
		行高為32px
		計算padding-top時，-10就是所需的值
	*/
}
.bold-dark{
	font-weight: bold;
	font-size: 25px;
	line-height: 35px;
	color: #37523d;
	padding-top: 30px;
}
img{
	margin-top: 30px;
	margin-left: 140px;
}
/* 使用1440視窗對齊查看 */